body{
    margin: 0px;
}

.main-cont{
    background-image: linear-gradient(to bottom, rgb(169, 187, 236) 0%, rgb(63, 109, 236) 100%);
}

.main-cont, .form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-cont{
    height: 50vh;
    width: 20vw;
    box-shadow: 0px 0px 9px rgb(64, 76, 114);
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    padding-top: 20px;
    border-radius: 3px;
}

input{
    margin-top: 5px;
    margin-bottom: 14px;
    border: 2px solid rgb(51, 51, 51);
    transition: 0.5s;
    border-radius: 3px;
    font-size: 20px;
}



.valid{
    border: 2px solid rgb(175, 212, 101)
}

.invalid{
    border: 2px solid rgb(238, 126, 126);
}

#submit{
    margin-top: 10px;
    margin-left: 85px;
    border: none;
    box-shadow: 0px 0px 5px rgb(64, 76, 114);
    color: purple;
    font-weight: 600;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
    height: 35px;
    transition: 0.3s;
}

#submit:hover{
    cursor: pointer;
    transform: translateY(-1px);
}

#submit:active{
    transform: translateY(1px);
    box-shadow: 0px 0px 2px rgb(64, 76, 114);

}